@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #1db954;
  --button-color: #222326;
  --uncontraste-color: #919496;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
/*Geral*/
body {
  background-color: #000000;
  color: white;
  overflow: overlay;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: var(--primary-color);
}
li {
  list-style: none;
}
a svg {
  height: 4rem;
  fill: white;
}
.container {
  max-width:100vw;
}


/*Header*/
header {
  background-color: #000000;
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding-inline: 5rem;
  align-items: center;
  position: fixed;
  z-index: 1;
}

/*Menu-Desktop*/
.menu ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  gap: 2.5rem;
}
.menu ul li:nth-child(4) {
  height: 1.6rem;
  width: 1px;
  background-color: white;
}

/*Menu-mobile*/
#hamburguer{
  cursor: pointer;
  position: absolute;
  right: 5.6rem;
  top: 1.7rem;
  z-index: 10;
}
#hamburguer .line{
  display: block;
  width: 3.5rem;
  height: .3rem;
  margin-block: 1rem;
  background-color: white;
  border-radius: 4px;
  transition: transform 500ms, opacity 250ms;
}
#hamburguer.active .line:nth-child(1){
  transform: translateY(13px) rotate(45deg);
}
#hamburguer.active .line:nth-child(2){
  opacity: 0;
}
#hamburguer.active .line:nth-child(3){
  transform: translateY(-13px) rotate(-45deg)
}
body #hamburguer{
  display: none;
}
body.menu-expanded #hamburguer{
  display: block;
}
body.menu-expanded{
  overflow: hidden;
}
.background-menu-mobile{
  position: fixed;
  visibility: hidden;
}
body.menu-expanded  .background-menu-mobile{
  visibility: visible;
  display: flex;
  position:fixed;
  z-index: 5;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000094;
  justify-content: flex-end;
}
.menu-mobile{
  transform: translateX(100%);
  visibility: hidden;
}
body.menu-expanded .menu-mobile{
  visibility: visible;
  display: flex;
  height: 100vh;
  width: 50vw;
  top: 0;
  bottom: 0;
  background-color: #000000;
  padding: 4rem;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 300ms;
  transform: translateX(0);
}
.menu-mobile li:nth-child(1), .menu-mobile li:nth-child(2), .menu-mobile li:nth-child(3){
  font-size: 3rem;
  font-weight: 700;
}
.menu-mobile li:nth-child(4){
  width: 17rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.589);
}
.menu-mobile li:nth-child(5), .menu-mobile li:nth-child(6){
  font-size: 2.4rem;
  font-weight: 400;
}
.menu-mobile ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 8vh;
}

/*Foto e texto principal*/
main {
  height: calc(100vh);
  background-image: url(https://images.pexels.com/photos/783243/pexels-photo-783243.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5rem;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  border: 1px solid rgba(0, 0, 0, 0.19);
  margin-bottom: 3rem;
  margin-inline: 1rem;
}
main h1 {
  font-size: 7.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.438);
}
main p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  max-width: 50rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 6px black;
}

.button {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.4rem 3.2rem;
  background-color: var(--primary-color);
  border-radius: 3rem;
  margin-bottom: 10vh;
  transition: transform 300ms;
  
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: unset;
}

/*Rodapé e redes sociais*/
footer {
  min-height:60vh;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 5rem;
  padding-inline: 4.5rem;
  justify-content: space-between;
}
footer .linha-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.linha-1 .footer-topic {
  flex: 1 1 165px;
  display: flex;
  flex-direction: column;
  max-width: 23.5rem;
  margin-inline: auto;

}
.linha-1 .footer-logo{
  padding-block: 3rem;
}
.linha-1 .footer-topic h3 {
  padding-block: 2rem;
  font-size: 1.4rem;
  color: var(--uncontraste-color);
  text-transform: uppercase;
  text-align: start;
}
.linha-1 .footer-topic ul li {
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.linha-1 .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 3rem;
}
.linha-1 .social-button {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  background-color: var(--button-color);
  padding: 1rem;
  transition: transform 300ms;
 align-self: flex-start;
}
.linha-1 .social-button:hover{
  transform: scale(1.2);
  background-color: var(--primary-color);
}

.linha-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.linha-2 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 1.2rem;
  margin-block: 1rem;
  margin-inline: auto;
}
.linha-2 ul li, .linha-2
.site-copy {
  display: flex;
  align-self: center;
  color: var(--uncontraste-color);
  font-size: 1.4rem;
  margin-block: 1rem;
  margin-inline: auto;
}

@media (max-width:768px){
  .menu{
    display: none;
  }
  body #hamburguer{
    display: block;
  }

  main h1{
    font-size:5rem;
  }
  main  p{
    font-size: 1.6rem;
  }
  footer {
    padding-inline: 4rem;
  }
}
@media (max-width:500px){
  body.menu-expanded .menu-mobile{
    width: 100vw;
    align-items: center;
  }
  body.menu-expanded .menu-mobile ul{
    align-items: center;
  }
  main h1{
    font-size:3.6rem;
  }
  main  p{
    font-size: 1.4rem;
    max-width: 85%;
  }
  footer .linha-1{
    flex-direction: column;
  }
  .footer-topic{
    margin:0;
  }
  footer .linha-2, footer .linha-2 ul{
    flex-direction: column;
    margin-inline: 0;
  }
  footer .linha-2 ul li{
    align-self: flex-start;
    margin-inline: 0 ;
  }

}